@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #161616;
}

@media screen and (max-width: 768px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.inner-content {
  @apply lg:pt-32 lg:pb-32;
}

@media screen and (max-width: 768px) {
  .inner-content {
    @apply pt-6 pb-6;
  }
}

h1 {
  @apply md:text-xl text-white font-thin uppercase tracking-widest;
}

h2 {
  @apply text-white text-lg font-thin;
}

@media screen and (max-width: 768px) {
  h2 {
    @apply text-h2-m;
  }
}

h3 {
  @apply text-white text-3xl font-normal;
}

p,
ul {
  @apply text-base leading-8;
}

p {
  @apply text-white opacity-30;
}

ul {
  @apply list-disc;
}

button {
  @apply bg-red text-white text-base rounded-none border-none text-base pl-8 pr-8 pt-4 pb-4;
}

button:hover {
  @apply bg-black;
}

svg {
  @apply text-yellow;
}

:where(.menu li:not(.menu-title):not(.disabled) > *:not(ul):not(details):not(.menu-title)):not(summary):not(
    .active
  ):focus {
  @apply text-red;
}

.hover\:bg-red:hover {
  @apply !bg-transparent text-red;
}

.hover\:text-white:hover {
  @apply !text-red;
}
