@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #161616;
}

span {
  @apply text-red;
}

@media screen and (max-width: 768px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
  .logo {
    width: 247px;
  }
  .navbar-start {
    width: inherit !important;
  }
}

/* Nav */

.navbar-start {
  width: 25%;
}

.navbar-end {
  width: 75%;
}

.navbar li {
  font-size: 18px !important;
}

.inner-content {
  @apply lg:pt-32 lg:pb-32;
}

@media screen and (max-width: 768px) {
  .inner-content {
    @apply pt-6 pb-6;
  }
}

h1 {
  @apply md:text-xl text-white font-thin uppercase tracking-widest;
}

h2 {
  @apply text-white text-lg font-thin;
}

@media screen and (max-width: 768px) {
  h2 {
    @apply text-h2-m;
  }
}

h3 {
  @apply text-white text-3xl font-thin;
}

@media screen and (max-width: 768px) {
  h3 {
    @apply text-h2-m;
  }
}

.inner-content a,
footer a {
  @apply text-white opacity-100 underline !important;
}

p,
ul {
  @apply text-base leading-8;
}

p {
  @apply text-white opacity-30;
}

.inner-content ul {
  @apply text-white opacity-30 ml-5;
}

.inner-content strong {
  @apply text-white;
}

ul {
  @apply list-disc;
}

button {
  @apply bg-red text-white text-base rounded-none border-none text-base pl-8 pr-8 pt-4 pb-4;
}

button:hover {
  @apply bg-black;
}

svg {
  @apply text-yellow;
}

.ham {
  @apply text-red;
}

.insta {
  @apply text-white;
}

@media screen and (max-width: 1024px) {
  .fa-instagram {
    margin-right: 154px !important;
  }
  .insta {
    @apply text-red;
  }
}

.insta:hover {
  @apply text-red;
}

:where(.menu li:not(.menu-title):not(.disabled) > *:not(ul):not(details):not(.menu-title)):not(summary):not(
    .active
  ):focus {
  @apply text-red;
}

.hover\:bg-red:hover {
  @apply !bg-transparent text-red;
}

.hover\:text-white:hover {
  @apply !text-red;
}

.menu li {
  font-size: 16px;
}

@media screen and (max-width: 1536px) {
  .menu li {
    font-size: 13px;
  }
}

.inner-hero h1 {
  font-size: 26px;
}

form input,
textarea {
  width: 100%;
  padding: 16px;
  margin-top: 10px;
}

.infused {
  font-size: 12px;
}
